// .logo { @include span-columns(3); }

.site-header { 
	font-size:em(8,13);
	position: fixed;
	top: 0; left:0; right:0;
	z-index: 100;
	 }

.primary, .secondary, .logo {
	text-align:center;
}

.primary { width:columns(7,9); }
.secondary { width:space(2,9); }
.menu { display:table; float:left; margin:0px;}
.sub-menu { width:100%; position:absolute; }
.sub-menu li { display:table; }
.logo { @include span-columns(3,12); }
nav {
	@include span-columns(9 omega);
	word-spacing:-4px;
	a { 
		display: block;
		line-height:3;
		background:$overlay-bg;
		color:white;
		word-spacing:initial;
		white-space:nowrap;
	 }
	li { 
		display:table-cell;
		position:relative;
	 }
}

.actions {
	@extend %row;
	@include clearest;
	text-align:right;
	font-size:em(8,13);
	position:relative;
	top:em(10,8);
	
	form {
		margin-bottom:em(10,8);
	}

	.saved-list {
		@include clearest;
		@include span-columns(2 omega);
	}
}